---
import Link from './Link.astro'
import PortableText from './PortableText.astro'
import type { PortableTextBlock } from 'sanity'

interface Props {
  name: string
  url: string
  shortDescription?: string
  longDescription?: PortableTextBlock[]
  level?: 1 | 2 | 3 | 4
  format?: string
  passingScore?: number
  duration?: number
  price?: number
}
const { name, url, shortDescription, longDescription } = Astro.props
---

<div>
  <h4>{name}</h4>
  <p>{shortDescription}</p>
  <PortableText portableText={longDescription} />
  <Link
    href={url}
    variant='tertiary'
  >
    Learn More
  </Link>
</div>

<style>
  div {
    background: #eee;
    padding: 10px;
    border-radius: 5px;
  }
</style>
