---
type LinkVariant = 'primary' | 'tertiary' | 'inline'
type MaterialIcon = 'star' | 'help' | 'calendar_today'
interface Props {
  variant?: LinkVariant
  as?: string
  href?: string
  icon?: MaterialIcon
  arrow?: boolean | 'sm' | 'md' | 'lg' //By default, arrow is 1rem
}
const {
  variant = 'primary',
  href = 'https://learning.braze.com/',
  as = 'a',
  icon,
  arrow,
} = Astro.props
---

<a data-comp-link href={href} class:list={[variant]}>
  {
  icon && <span class="material-symbols-outlined">
    {icon}
</span>
}
<slot />{' '}{
    arrow && (
      <span class=`${arrow} arrow`>
        &nbsp;<i class="fa-solid">&#xf061</i>
      </span>
    )
  }</a
>

<style>
  [data-comp-link] {
    display: inline-flex;
    font-weight: 600;
    font-size: 1rem;
    width: fit-content;
    cursor: pointer;
    align-items: baseline;
    align-items: center;
    gap: var(--space-xs);
  }
  [data-comp-link]:focus {
    outline: 3px solid var(--color-teal-300);
    outline-offset: 2px;
  }
.material-symbols-outlined {
  font-size: 1.5rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

  /* Primary */
  .primary {
    background-color: var(--color-blue-600);
    color: var(--color-white);
    padding: 0.95em 2em 0.875em;
    border-radius: 0.8em;
    border: 1px solid transparent;
    box-shadow: 0px 8px 16px 0px rgba(69, 84, 94, 0.1);
  }
  .primary:hover {
    background-color: var(--color-blue-400);
    border: 1px solid var(--color-blue-800);
    box-shadow: none;
  }
  a.primary:hover {
    text-decoration: none;
  }
  .primary:active,
  .primary:focus {
    box-shadow: none;
    background-color: var(--color-blue-800);
  }

  /* Tertiary */
  .tertiary {
    color: var(--color-blue-600);
    background: transparent;
    padding: 0;
    border: none;
  }
  .tertiary:hover {
    color: var(--color-blue-800);
    text-decoration: underline;
  }
  .tertiary:active,
  .tertiary:focus {
    color: var(--color-blue-400);
  }
  .md {
    font-size: 1rem;
  }
  .sm  {
    font-size: .8rem;
  }
  .lg  {
    font-size: 1.2rem;
  }

  /* Inline */
  .inline {
    color: inherit;
    background: transparent;
    padding: 0;
    border-bottom: 3px solid transparent;

  }
  .inline:hover {
    text-decoration: none;
    border-bottom: 3px solid var(--color-teal-300);
  }
</style>
