:root {
	--grad-blue-to-fuchsia: linear-gradient(78deg, #4c98ed 31.31%, #e5a7de 103.85%);
	--color-blue-600: #0051af;
	--grad-soft-blue-fuchsia: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0.75) 100%
		),
		linear-gradient(343deg, rgba(186, 69, 172, 0.2) 4.08%, rgba(255, 255, 255, 0) 46.12%),
		linear-gradient(197deg, #fff 68.78%, #3acbdc 173%);
	--color-teal-700: #0dafc5;

	--font-size-d1: 3.75rem;
	--font-size-d2: 2.5rem;
	--line-height-d1: 4.75rem;
	--line-height-d2: 3rem;

	--width-course-card: 20rem;
	--svg-quotations-dark: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTg5IiBoZWlnaHQ9IjE3MyIgdmlld0JveD0iMCAwIDE4OSAxNzMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIG9wYWNpdHk9IjAuMSIgZD0iTTAuNDQ4MDgyIDEyNy44MzFDMC40NDgwODIgNzUuNTc1IDIzLjIyNjIgMzAuNjg4NiA3Ni4xNTE5IDAuNTQxMDY3VjI2LjY2OUM1Mi43MDM4IDQ0LjA4NzUgMzkuOTc0OSA2Ny41MzU2IDM2LjYyNTEgOTUuMDAzNEM1Ny4zOTM0IDk1LjAwMzQgNzUuNDgxOSAxMTEuNzUyIDc1LjQ4MTkgMTMzLjE5Qzc1LjQ4MTkgMTU0LjYyOCA1OS40MDMzIDE3Mi43MTcgMzcuMjk1MSAxNzIuNzE3QzEzLjg0NyAxNzIuNzE3IDAuNDQ4MDgyIDE1My45NTkgMC40NDgwODIgMTI3LjgzMVpNMTg4LjAzMyAwLjU0MTA2N1YyNi42NjlDMTY0LjU4NSA0NC4wODc1IDE1MS44NTYgNjcuNTM1NiAxNDguNTA2IDk1LjAwMzRDMTY5LjI3NCA5NS4wMDM0IDE4Ny4zNjMgMTExLjc1MiAxODcuMzYzIDEzMy4xOUMxODcuMzYzIDE1NC42MjggMTcxLjI4NCAxNzIuNzE3IDE0OS4xNzYgMTcyLjcxN0MxMjUuNzI4IDE3Mi43MTcgMTEyLjMyOSAxNTMuOTU5IDExMi4zMjkgMTI3LjgzMUMxMTIuMzI5IDc1LjU3NSAxMzUuMTA3IDMwLjY4ODYgMTg4LjAzMyAwLjU0MTA2N1oiIGZpbGw9IiM0Qzk4RUQiLz4KPC9zdmc+Cg==');
	--svg-quotations-light: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTg5IiBoZWlnaHQ9IjE3MyIgdmlld0JveD0iMCAwIDE4OSAxNzMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIG9wYWNpdHk9IjAuMyIgZD0iTTAuNDQ5MjE5IDEyNy43NTRDMC40NDkyMTkgNzUuNDk4NyAyMy4yMjc0IDMwLjYxMjQgNzYuMTUzIDAuNDY0ODQ0VjI2LjU5MjdDNTIuNzA0OSA0NC4wMTEzIDM5Ljk3NiA2Ny40NTk0IDM2LjYyNjMgOTQuOTI3MUM1Ny4zOTQ2IDk0LjkyNzEgNzUuNDgzMSAxMTEuNjc2IDc1LjQ4MzEgMTMzLjExNEM3NS40ODMxIDE1NC41NTIgNTkuNDA0NCAxNzIuNjQxIDM3LjI5NjIgMTcyLjY0MUMxMy44NDgxIDE3Mi42NDEgMC40NDkyMTkgMTUzLjg4MiAwLjQ0OTIxOSAxMjcuNzU0Wk0xODguMDM0IDAuNDY0ODQ0VjI2LjU5MjdDMTY0LjU4NiA0NC4wMTEzIDE1MS44NTcgNjcuNDU5NCAxNDguNTA3IDk0LjkyNzFDMTY5LjI3NSA5NC45MjcxIDE4Ny4zNjQgMTExLjY3NiAxODcuMzY0IDEzMy4xMTRDMTg3LjM2NCAxNTQuNTUyIDE3MS4yODUgMTcyLjY0MSAxNDkuMTc3IDE3Mi42NDFDMTI1LjcyOSAxNzIuNjQxIDExMi4zMyAxNTMuODgyIDExMi4zMyAxMjcuNzU0QzExMi4zMyA3NS40OTg3IDEzNS4xMDggMzAuNjEyNCAxODguMDM0IDAuNDY0ODQ0WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==');

	--radius-circle: 6.25em;
}
