:root {
	--grad-blue-to-fuchsia: linear-gradient(78deg, #4c98ed 31.31%, #e5a7de 103.85%);
	--color-blue-600: #0051af;
	--grad-soft-blue-fuchsia: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0.75) 100%
		),
		linear-gradient(343deg, rgba(186, 69, 172, 0.2) 4.08%, rgba(255, 255, 255, 0) 46.12%),
		linear-gradient(197deg, #fff 68.78%, #3acbdc 173%);
	--color-teal-700: #0dafc5;

	--font-size-d1: 3.75rem;
	--font-size-d2: 2.5rem;
	--line-height-d1: 4.75rem;
	--line-height-d2: 3rem;

	--width-course-card: 20rem;

	--radius-circle: 6.25em;
}
