---
import Container from '@components/atoms/Container.astro'
import type { TshirtSize, Colors } from 'bl-astro'
import type { Image } from 'sanity'
import { urlFor } from '@lib/urlFor'

interface Props {
	bgColor?: Colors
	color?: 'white' | 'black'
	bgImage: Image
	paddingY?: TshirtSize
}
const { bgColor, bgImage, paddingY = 'lg' } = Astro.props
const bgColorDirective =
	bgColor === 'blue-fuchsia-gradient' ? 'var(--grad-blue-to-fuchsia)' : `var(--color-${bgColor})`

const imgUrl = bgImage ? urlFor(bgImage).url() : ''
---

<section>
	<div class:list={['squiggle-wrapper']}>
		<Container width="lg" marginY={paddingY}>
			<div class="content-wrapper"><slot /></div>
		</Container>
	</div>
</section>

<style
	define:vars={{
		'background-image': `url(${imgUrl})`,
		'background-color': bgColorDirective
	}}
>
	section {
		background: var(--background-color);
	}

	.squiggle-wrapper {
		background: var(--background-image);
		background-repeat: no-repeat;
		container-type: inline-size;
		background-position: top -1rem right 0;
		background-size: clamp(35rem, 50vw, 38rem) auto;
	}
	.squiggle-1 {
		background-position: top -11rem right -11rem;
		background-size: clamp(35rem, 50vw, 45rem) auto;
	}
	.squiggle-2 {
		background-position: bottom -6rem right 0;
		background-size: clamp(35rem, 50vw, 45rem) auto;
	}
	.certification-squiggle {
		background-position: top -1rem right 0;
		background-size: clamp(15rem, 50vw, 31rem) auto;
	}

	.content-wrapper {
		width: var(--width-body-sm);
	}
	@media (width < 1000px) {
		.squiggle-wrapper {
			background-image: none;
		}
	}
</style>
