---
import { getExam, getExams } from '../../sanity/sanity.ts'
import type { InferGetStaticParamsType } from 'astro'
import PortableText from '../../components/PortableText.astro'

export async function getStaticPaths() {
  const exams = await getExams()

  return exams.map((exam) => {
    return {
      params: {
        slug: exam.slug?.current || '',
      },
    }
  })
}
type Params = InferGetStaticParamsType<typeof getStaticPaths>
const { slug } = Astro.params as Params

const exam = await getExam(slug)
---

<head>
  <link
    rel='stylesheet'
    href='https://skilljar-astro.vercel.app/styles/main.css'
  /></head
>
<body>
  <h1>{exam.title}</h1>
  <div class='wrapper'>
    <p>{exam.shortDescription}</p>
    <p>{exam.longDescription}</p>
  </div>
  <div>
    <h2>Details</h2>
    <div></div>
  </div>
</body>

<style>
  div {
    display: flex;
    flex-direction: column;
  }
</style>
