---
import { getPublishedPages, getDrafts } from '@lib/sanity'
import '../styles/main.css'
import BareLayout from '@layouts/BareLayout.astro'

const pages = await getPublishedPages()
const drafts = await getDrafts()
---

<BareLayout>
    <h2>Published Pages</h2>
    {pages && (
        <ul>
          {pages.map((page) => (
            <li><a href=`page/${page.slug.current}`>{page.title}</a></li>
          ))}
        </ul>
      )}
      
    
    <h1>Drafts</h1>
    {
      drafts && (
        <ul>
          {drafts.map((draft) => (
            <li><a href=`page/${draft.slug.current}`>{draft.title}</a></li>
          ))}
        </ul>
      )
    }
</BareLayout>
